@charset "UTF-8";

body {
	background-color:#A71930;
	text-align:center;
	color:#FDC82F;
	display:block;
	font-family:Verdana, Geneva, sans-serif;
}

#head {
}

#cyhelp_default {
	background-color:#A71930;
	border-radius:0.75em;
	box-shadow: inset 0px 0px 30px #000000, 1px 1px 2px #999999;
	padding:5em;
    margin:auto auto 30em auto;
}

.form_item {
	
}

label .description {
	display:block;
	text-align:left;
}

label .small_description {
	display:block;
	text-align:left;
}

input {
	background-color:#822433;
	border-color:transparent;
	border-radius:0.5em;
	box-shadow:0px 2px 3px #000;
	display:block;
}

.multifield_container {
	display:inline-block;
}

.multifield_container div {
	display:block;
}